.userblog {
    width: 650px;
    border-radius: 30px;
    background: #d29bf4dd;
    box-shadow: 15px 15px 30px #e7c3f4, -15px -15px 30px #ffffff;
    margin-bottom: 20px;
    margin-right: 0px;
}

.deleteicon:hover {
    color: blueviolet;
}

.deleteicon {
    margin-left: 255px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.editicon {
    margin-top: 0;
    margin-bottom: 10px;
    margin-left: 100px;
}

.editicon:hover {
    color: blueviolet;
}

/* .singleparaid {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* margin-bottom: 40px; */

.singleparaid{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.allsingleblog {
    flex-wrap: wrap;
}

.singlepara1 {
    transform: translate(0px, -35px);
    margin-right: 10px;
    margin-left: 10px;
}

.singlepara3{
    transform: translate(0px,50px);
    font-size: 12px;
    margin-left: 580px;
}

.singlepara5 {
    font-size: 20px;
    font-weight: 600;
    transform: translate(20px, -30px);

}

.arrow {
    transform: translate(-0px);
}

.add1 {
    transform: translate(-200px, 20px);
}

.head1 {
    transform: translate(-0px);
}

.hr2 {
    margin-top: 50px;
    margin-bottom: 0px;
}

.singlepara2 {
    font-size: 14px;
    transform: translate(-20px,5px);
}

.singlepara4 {
    transform: translate(15px, 5px);
    font-size: 10px;
}

.hr1 {
    transform: translate(0px, -15px);
}



.addicon {
    transform: translate(300px, 30px);
    color: rgb(70, 184, 177);
    font-size: 40px;
}