.card {
    cursor: pointer;
    margin-left: 30px;
    margin-top: 20px;
    margin-right: 20px;
    width: 300px;
    /* height: 254px; */
    background: linear-gradient(135deg, #e3b7be 0%, #aceae1 100%);
    border-radius: 40px 0 40px 0;
}

.card:hover {
    box-shadow: -12px 12px 2px -1px rgba(149, 149, 150, 0.475);
}

.para{
    margin-left: 20px;
}