@import url('https://fonts.googleapis.com/css2?family=Alkatra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

.container {
	background-color: #eef2f5;
	width: 850px;
	margin: 20px 80px;
}

.addtxt {
	padding-bottom: 40px;
	font-size: 13px;
	width: 800px;
	margin: 0px 50px;
	border: 5px solid rgb(164, 162, 162);
	background-color: #e5e8ed;
	font-weight: 500;
}

.addtxt::placeholder {
	margin-right: 230px;
}

.form-control {
	max-height: 50px;
}

.form-control:focus {
	color: #000;
}

.second {
	border: 2px solid rgb(220, 196, 161);
	width: 850px;
	height: 100px;
	background-color: white;
	border-radius: 4px;
	box-shadow: 10px 10px 5px #aaaaaa;
}

.texta {
	margin: 30px 20px;
}


.text1 {
	font-size: 13px;
	color: #56575b;
	margin: 0px 20px;
	/* border: 2px solid; */
}

.text2 {
	/* border: 2px solid; */
	padding-top: 10px;
	font-size: 13px;
	margin-top: 0px;
	margin-right: 20px;
	padding-top: 10px;
	margin-left: 750px;
	color: #56575b;
}

.thumbicon2:hover {
	color: rgb(186, 61, 111);
}

.thumbicons {
	color: #17a2b8;
	display: flex;
	justify-content: space-around;
	margin-bottom: 20px;
	width: 600px;
}

/* viewblogdetails css */

.viewupper {
	/* border: 1px solid; */
	display: flex;
	justify-content: space-around;
	margin-bottom: 0px;
	margin-top: 20px;
	width: 1000px;
	color: #216e7a;
	font-weight: bold;
}

.middle {
	/* border:1px solid; */
	margin: 10px 20xp;
	width: 1000px;
}

.commantbtn:hover {
	color: rgb(245, 242, 247);
	background-color: #0f4c55;
}

.commantbtn {
	color: rgb(42, 7, 75);
	background-color: #17a2b8;
	margin-left: 700px;
	width: 100px;
	padding: 0px;
	height: 40px;
}


.h44 {
	margin: 20px 50px;
}

.addcomt {
	margin: 0px 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.middledescrip {
	text-align: justify;
	font-family: 'Playfair Display', serif;
	margin-bottom: 30px;
	margin-top: 0px;
}

.middletitle {
	font-family: 'Alkatra', cursive;
	text-transform: capitalize;
	font-size: 35px;
	margin-left: 50px;
	margin-bottom: 0px;
}

.uppername {
	text-transform: capitalize;
}

.uppercategory {
	text-transform: capitalize;
}

.viewsingleblogdetails {
	background-color: rgba(116, 110, 110, .2);
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.previousbtn{
	width: 100px;
	padding: 0px;
	height: 40px;
	background-color: rgba(116, 110, 110, .1);
	color: #216e7a;
	font-weight: bold;
}

.previousbtn:hover{
	color: white;
	background-color: rgba(116, 110, 110, .2);
}

.authorallbtn{
	border: none;background-color: rgba(69, 161, 118, 0.404);
	color: #0f4c55;
	font-weight: bold;
	margin-left: 800px;
}

.authorallbtn:hover{
	background-color: #0f4c55;
	color: white;
}